body {
  display: flex;
  justify-content: center;
}

#container {
  width: 400px;
  height: 650px;
  border: solid;
  border-color: black;
  border-radius: 16px;
  background-color: pink;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display {
  width: 360px;
  height: 150px;
  font-size: 50px;
  border: solid;
  border-radius: 16px;
  margin: 20px 0px;
  background-color: white;
  padding: 0px 5px;
}

.buttons,
.row {
  width: 360px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.row1,
.row2,
.row3,
.row4 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.buttons div {
  display: flex;
  flex-wrap: wrap;
}

.button {
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  font-size: 24px;
  border-radius: 40px;
}